body{
  text-align: center;
  background-color:#88F8EC ;
}
h1{
   font-family: 'Rubik Bubbles', cursive;
  margin-top: 2em;
}
section{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1em;
  
}
#generate{
margin-top: 2em;
border-radius: 5px;
border: 1px solid black;
background-color: #2C70AE;
color: white;
height: 25px;
  margin-buttom:1em;
}
.animeInfo1{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
border: none;
  background-color: whitesmoke;
  width: 20em;
height: 15em;
margin-top: 4em;
border-radius: 5px;
}
.quote-left{
 width: 35px;
 height: 35px;
 position: absolute;
 left: 1em;
 margin-top: 1em;
}
.anime-display{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 15px;
  font-weight:600;
  margin-top: 3em;
  margin-left: 3em;
  
}
.animeInfo{
  bottom: 2em;
  font-weight:100;
font-style: italic;
}
.err{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1em; 
}
